<!DOCTYPE html>
<html lang="en">
<style>
    h1{
        color: blue;
        text-align: center;
    }
    p{
        background-color: black;
        color: blue;
        text-ident: 10px;
        letter-spacing: 2px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> H1 </h1>
<h2> H2 </h2>
<h3> H3 </h3>
<p> As you know, writers will develop their ideas by making a main point (stated or
    unstated), then developing the point by moving from the general to the specific, by
    providing examples, testimony, facts/data, personal observations, reasons. As textbased writers, you, too, will develop your own ideas in this way.
    While there are no easy templates for effective writing, the following model can
    serve as a useful guide as you continue to develop your text-based academic
    writing skills. Use the acronyms PIE or TEA to remind you of how you can stay
    focused and develop your ideas clearly and thoughtfully at the paragraph level.  </p>
<a href="https://www.google.jo/">this is google</a>
<table border = "1px" width="100%">
    <tr>
        <th>cell 1</th>
        <th>cell 2</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>4</td>
    </tr>
</table>
Hello
</body>
</html>